body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #f4f4f4;
  color: #333;
}

#map {
  height: 500px;
  width: 90%;
  margin: 20px auto;
  border: 2px solid #333;
  border-radius: 8px;
}
